/* menu btn */
header .menu-btn {
    display: none;
}

.menu-btn:checked ~ .navbar-menu .nav {
    max-height: 100%;
    overflow: inherit;
    display: block;
}

/* Section HERO section */
@media (max-width: 767px) {
    .section-hero {
        margin: -0.1rem 0;
    }

    .hero-homepage {
        background-position: 85% 0;
    }

    .section-hero .section-body {
        padding: 2rem;
    }
}

/* menu btn */
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:before,
header .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
}

/* Media query for max-width: 767px */
@media (max-width: 767px) {
    :root {
        --header-padding: 2rem 0 0;
    }

    .header {
        background: var(--color-black);
    }

    .header-container {
        flex-wrap: wrap;
        padding: 0 1.5rem;
    }

    .header .menu-icon {
        display: block;
    }
}

/* Media query for max-width: 480px */
@media (max-width: 480px) {
    .header-logo {
        flex-basis: 70%;
    }
}

/* Media query with min-width: 481px and max-width: 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .header-logo {
        flex-basis: 79%;
    }
}

/* Hide the menu icon when on desktop mode */
@media (min-width: 768px) {
    .header .menu-icon {
        display: none;
    }
}
